@model Assig1.ViewModels.OffenceExpiationDetails
@{
    ViewData["Title"] = "Details";
}

<div class="text-dark bg-gradient bg-warning p-2 my-2 border rounded">
    <h1>Details</h1>
</div>

<div>
    <h4>Offence</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offence.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offence.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offence.ExpiationFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offence.ExpiationFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offence.AdultLevy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offence.AdultLevy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offence.CorporateFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offence.CorporateFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offence.TotalFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offence.TotalFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offence.DemeritPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offence.DemeritPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offence.SectionCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offence.SectionCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Offence.Section)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Offence.Section.SectionId)
        </dd>
    </dl>

    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            Filter
        </button>
        <form asp-action="Details" method="get" class="dropdown-menu p-4">
            <div class="mb-3">
                <label for="beforeDate" class="form-label">Before date</label>
                <input type="date" class="form-control" id="beforeDate" name="beforeDate" placeholder="enter date">
            </div>
            <div class="mb-3">
                <label for="afterDate" class="form-label">After date</label>
                <input type="date" class="form-control" id="afterDate" name="afterDate" placeholder="enter date">
            </div>
            <div class="mb-3">
                <label for="minFee" class="form-label">Minimum Fee</label>
                <input type="text" class="form-control" id="minFee" name="minFee" placeholder="enter minimum fee">
            </div>
            <div class="mb-3">
                <label for="maxFee" class="form-label">Maximum Fee</label>
                <input type="text" class="form-control" id="maxFee" name="maxFee" placeholder="enter maximum fee">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <div>
        <a asp-action="MoreDetails" asp-route-id="@Model?.Offence.OffenceCode">More Details</a>
        <a asp-action="Edit" asp-route-id="@Model?.Offence.OffenceCode">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>

</div>

@if (Model.OffenceAndExpiations != null && Model.OffenceAndExpiations.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OffenceAndExpiations.First().ExpId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OffenceAndExpiations.First().IncidentStartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OffenceAndExpiations.First().VehicleSpeed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OffenceAndExpiations.First().LocationSpeedLimit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OffenceAndExpiations.First().DriverState)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OffenceAndExpiations.First().TotalFeeAmt)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OffenceAndExpiations)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IncidentStartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VehicleSpeed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationSpeedLimit)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DriverState)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalFeeAmt)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

