@model IEnumerable<Assig1.ViewModels.OffenceAndExpiation>

@{
    ViewData["Title"] = "Details";
}

<div class="text-dark bg-gradient bg-warning p-2 my-2 border rounded">
    <h1>Details</h1>
</div>

<div>
    <h4>Offence</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First().Offence.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First().Offence.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First().Offence.ExpiationFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First().Offence.ExpiationFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First().Offence.AdultLevy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First().Offence.AdultLevy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First().Offence.CorporateFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First().Offence.CorporateFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First().Offence.TotalFee)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First().Offence.TotalFee)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First().Offence.DemeritPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First().Offence.DemeritPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First().Offence.SectionCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First().Offence.SectionCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First().Offence.Section)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First().Offence.Section.SectionId)
        </dd>
    </dl>

    <div class="dropdown">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
            Filter
        </button>
        <form asp-action="Details" method="get" class="dropdown-menu p-4">
            <div class="mb-3">
                <label for="beforeDate" class="form-label">Before date</label>
                <input type="date" class="form-control" id="beforeDate" name="beforeDate" placeholder="enter date">
            </div>
            <div class="mb-3">
                <label for="afterDate" class="form-label">After date</label>
                <input type="date" class="form-control" id="afterDate" name="afterDate" placeholder="enter date">
            </div>
            <div class="mb-3">
                <label for="minFee" class="form-label">Email address</label>
                <input type="text" class="form-control" id="minFee" name="minFee" placeholder="enter minimum fee">
            </div>
            <div class="mb-3">
                <label for="maxFee" class="form-label">Password</label>
                <input type="text" class="form-control" id="maxFee" name="maxFee" placeholder="enter maximum fee">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().IncidentStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().VehicleSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().LocationSpeedLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().DriverState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TotalFeeAmt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IncidentStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VehicleSpeed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationSpeedLimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DriverState)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalFeeAmt)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.First().Offence.OffenceCode">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
