@model Assig1.ViewModels.ExpiationDetails
@{
    ViewData["Title"] = "More Details";
}

<h1>MoreDetails</h1>

<div>
    <dl id="descList" class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvgSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvgSpeed)
        </dd>
    </dl>
</div>
<div>
    <svg id="totalFeesGraph" width="100%" height="600px" class="border border-primary rounded p-2"></svg>
</div>

@section scripts {
    <script type="module">
        import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";

        const svg = d3.select('#totalFeesGraph');

        let w = svg.node().getBoundingCLientRect().width;
        let h = svg.node().getBoundingCLientRect().height;


    </script>
}