@model Assig1.ViewModels.ExpiationDetails
@{
    ViewData["Title"] = "More Details";
}

<h1>MoreDetails</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinSpeed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AvgSpeed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AvgSpeed)
        </dd>
    </dl>
</div>